<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 集合注入   -->
    <bean id="bookDao" class="com.linde.part1.dao.impl.BookDaoImpl">
        <property name="array">
            <array>
                <value>100</value>
                <value>200</value>
                <value>300</value>
            </array>
        </property>
        <property name="list">
            <list>
                <value>111</value>
                <value>222</value>
                <value>333</value>
                <value>444</value>
            </list>
        </property>
        <property name="set">
            <set>
                <value>good</value>
                <value>morning</value>
                <value>afternoon</value>
                <value>afternoon</value>
            </set>
        </property>
        <property name="map">
            <map>
                <entry key="country" value="China"/>
                <entry key="province" value="fujian"/>
                <entry key="city" value="fuzhou"/>
            </map>
        </property>
        <property name="properties">
            <props>
                <prop key="country">China</prop>
                <prop key="province">fujian</prop>
                <prop key="city">fuzhou</prop>
            </props>
        </property>

    </bean>
</beans>