<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!--setter注入 推荐-->
    <bean id="bookDao" class="com.linde.person1.dao.impl.BookDaoImpl">
        <property name="databaseName" value="mysql"/>
        <property name="connectionNum" value="100"/>
    </bean>

    <bean id="userDao" class="com.linde.person1.dao.impl.UserDaoImpl"/>
    <bean id="bookService" class="com.linde.person1.service.impl.BookServiceImpl">
        <property name="bookDao" ref="bookDao"/>
        <property name="userDao" ref="userDao"/>
    </bean>


    <!--静态工厂-->
    <bean id="orderDao" class="com.linde.person1.factory.OrderDaoFactory" factory-method="getOrderDao"/>
    <!--实例化工厂-->
    <bean class="com.linde.person1.factory.UserDaoFactory" id="userDaoFactory"/>
    <bean id="userDao1" factory-bean="userDaoFactory" factory-method="getUserDao"/>
    <!--使用factory-bean实例化-->
    <bean id="userDao2" class="com.linde.person1.factory.UserDaoFactoryBean"/>

    <!--  构造注入  标准书写
    <bean id="bookDao" class="com.linde.part1.dao.impl.BookDaoImplDL">
        <constructor-arg index="0" value="mysql"/>
        <constructor-arg index="1" value="8080"/>
    //   <constructor-arg name="databaseName" value="mysql"/>
    //    <constructor-arg name="connectionNum" value="11000"/>
    </bean>
    <bean id="userDao" class="com.linde.part1.dao.impl.UserDaoImpl"/>
    <bean id="bookServiceDL" class="com.linde.service.impl.BookServiceImplDL">
        <constructor-arg name="bookDao" ref="bookDao"/>
        <constructor-arg name="userDao" ref="userDao"/>
    </bean>
-->

</beans>